<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Details</h1>
    <table id="list">
        <thead>
            <tr>
                <th>Flight Details</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>Airline: <%= flight.airline %></td>
                </tr>
                <tr>
                    <td>Flight Number: <%= flight.flightNo %></td>
                </tr>
                <tr>
                    <td>Departure Airport: <%= flight.airport %></td>
                </tr>
                <tr>
                    <td>Departure Time: <%= flight.departs %></td>
                </tr>
                <tr>
                    <td>Departure Date: <%= flight.date %></td>
                </tr>
            </tbody>
    </table>
    <form id="flight-destinations" action="/flights/<%= flight._id %>/destinations" method="POST">
        <label> Destination: </label>
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
        <label>Arrival Date: </label>
        <input name="arrival" type="Date">
        <input type="submit" value="Add Destination">
    </form>
    <ul>
        <h3>List of Flights: </h3>
        <%- flight.destinations.map(f =>
        `<li>From: ${flight.airport} <br> To: ${f.airport} <br> Departure: ${f.arrival} <br><br></li>`
        ).join("") %>
    </ul>

    <table id="tickets">
        <thead>
            <tr>
                <th>Tickets</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% tickets.forEach(function(t) {%>
                <tr>
                    <td><%= t.seat %></td>
                </tr>
                <tr>
                    <td><%= t.flight %></td>
                </tr>
                <tr>
                    <td><%= t.price %></td>
                </tr>
                <% }) %>
        </tbody>
    </table>

    <a href="/flights/<%= flight._id %>/tickets/new">Add a new ticket</a>
</body>
</html>